@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);
@import url(//cdn.rawgit.com/kattergil/NotoSerifKR-Web/76eb9ebf/stylesheet/NotoSerif-Web.css);
@import url(//fonts.googleapis.com/css?family=Merriweather);
$font-family-sans-serif: "Spoqa Han Sans", sans-serif;
$font-family-serif: "Merriweather", "Noto Serif", serif;
$font-family-monospace: "D2Coding ligature", "D2Coding", serif;

.content code,
.content pre {
  font-family: $font-family-monospace !important;
}
