@import "../themes/themes";
@import "node_modules/bootstrap/scss/bootstrap";

.content {
  background-color: $background-lighten;
  padding: 16px;
  border-radius: 8px;
}

@include media-breakpoint-up(md) {
  .content {
    max-width: 768px;
  }
}