@import "../helpers/variables";

$background: $richdark;
$background-lighten: lighten($richdark, 10%);
$foreground: #b8bfc6;
$url-foreground: $lightsky;
$border: #dee2e6;
$body-bg: $background;
$body-color: $foreground;
$link-color: $url-foreground;
$hr-border-color: $border;
$pre-color: $background;
$code-color: #a8af96;
